# =========================
# COMPILATION / BUILD FILES
# =========================

# Prerequisites
*.d
.vs/
Debug/

# Object files
*.o
*.ko
*.obj
*.elf
*.gch
*.pch
*.su
*.dwo

# Linker/Build output
*.ilk
*.map
*.exp
*.out
*.hex
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
.tmp_versions/

# Executables
*.exe
*.app
a.out
main
*.i*86
*.x86_64

# Shared Libraries / Dynamic Libraries
*.dll
*.so
*.so.*
*.dylib

# Libraries (static + shared)
*.lib
*.a
*.la
*.lo

# Debug files
*.dSYM/
*.idb
*.pdb

# Kernel module config
dkms.conf


# =========================
# PROJECT DIRECTORIES
# =========================

# Build directory
build/*
!build/.gitkeep

# Test results
tests/test_results/*
!tests/test_results/.gitkeep


# =========================
# TEMP & SYSTEM FILES
# =========================

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
temp/


# =========================
# EDITOR / IDE SETTINGS
# =========================

# Visual Studio Code
.vscode/

# JetBrains / CLion
.idea/

# Vim/Swap files
*.swp
*.swo
*~
